<!DOCTYPE html>
<html ng-app="sampleApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NG demo 001 - 計算型屬性</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" type="text/javascript"></script>
</head>

<body>
    <div ng-controller="mainCtrl">
        <input type="text" ng-model="model.firstName">
        <input type="text" ng-model="model.lastName">
        <br>
        <span ng-bind="model.fullName()"></span>
        <br>
        <span>{{model.fullName()}}</span>
    </div>
    <script>
    angular.module("sampleApp", [])
        .controller('mainCtrl', ['$scope', function($scope) {
            function myViewModel() {
                var self = this;
                self.firstName = "Allen";
                self.lastName = "Yu";
                self.fullName = function() {
                    return self.firstName + " " + self.lastName;
                };
            }
            $scope.model = new myViewModel();
        }]);
    </script>
</body>

</html>
