<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NG demo 032 - ngIf</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    .container {
        margin-top: 20px;
    }
    </style>
</head>

<body ng-app="sampleApp">
    <div class="container">
        <div ng-controller="mainCtrl as m">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>說明!</h4>
                <p>ng-if 是會動態增減元素</p>
            </div>
            <div class="well col-xs-12">
                <label>
                    <input type="checkbox" ng-model="checked">勾選?</input>
                </label>
                <div class="alert" ng-show="checked">
                    <strong>use ng-show!!</strong>
                </div>
                <div class="alert alert-success" ng-if="checked">
                    <strong>user ng-if=checked</strong>
                </div>
                <div class="alert alert-info" ng-if="m.show();">
                    <strong>使用 ng-if=show();</strong>
                </div>
            </div>
        </div>
        <hr>
        <a href="index.html">Return Index</a>
    </div>
</body>
<script type="text/javascript">
angular.module("sampleApp", [])
    .controller('mainCtrl', ['$scope', function($scope) {
    	var self = this;
    	self.show = function(){
    		return $scope.checked;
    	};
    }]);
</script>

</html>
