<!DOCTYPE html>
<html ng-app="sampleApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NG demo 002 - 下拉選單</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js" type="text/javascript"></script>
</head>

<body>
    <div ng-controller="mainCtrl">
        <select ng-options="item.t for item in model.options" ng-model="model.result">
        </select>
        <br />
        <span ng-bind="model.result.v"></span>
        <br />
        <input type="button" value="Set Phone" ng-click="model.changeToPhone()" />
    </div>
    <script>
    angular.module("sampleApp", [])
        .controller("mainCtrl", function($scope) {
            function myViewModel() {
                var self = this;
                self.options = [
                	{ t: "PC",v: "PC"}, 
                	{ t: "Notebook",v: "NB"}, 
                	{ t: "Phone"d,v: "Phone"}
                ];
                self.result = self.options[0];
                self.changeToPhone = function() {
                    self.result = self.options[2];
                }
            }
            $scope.model = new myViewModel();
        });
    </script>
    <hr>
    <a href="index.html">Return Index</a>
</body>

</html>
