<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ngInit, ngChecked, ngDisabled 及 ngReadonly">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NG demo 025 - ngInit, ngChecked, ngDisabled 及 ngReadonly</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    .container {
        margin-top: 20px;
    }
    </style>
</head>

<body ng-app="sampleApp">
    <div class="container">
        <div ng-controller="mainCtrl" class="col-xs-10">
            <!-- use ng-init set default value -->
            <div class="alert alert-info" ng-init="greeting='Hi,';name='allen';">
                <label>Messgae:</label>
                <input type="text" ng-model="greeting" placeholder="Enter a message here" class="form-control">
                <br>
                <label>Name:</label>
                <input type="text" ng-model="name" placeholder="Enter a name here" class="form-control">
                <hr>
                <!-- 能設定預設值 -->
                <h1>{{ greeting || "Hello" }} {{ name || "AngularJS" }}!!</h1>
            </div>
            
            <div class="alert alert-success">
                <!-- 不具備雙向資料綁定(Two-way data-binding)的功能， ng-show、ng-hide、ng-checked、ng-disabled  -->
                <label>全選/全取消:
                    <input type="checkbox" ng-model="selectAll">
                </label>
                <br>
                <input type="checkbox" ng-checked="selectAll">
                <input type="checkbox" ng-checked="selectAll">
                <input type="checkbox" ng-checked="selectAll">
                <input type="checkbox" ng-checked="selectAll">
                <input type="checkbox" ng-checked="selectAll">
            </div>

            
        </div>
        <hr>
        <a href="index.html">Return Index</a>
    </div>
</body>
<script type="text/javascript">
angular.module("sampleApp", [])
    .controller('mainCtrl', ['$scope', function($scope) {

    }])
</script>

</html>
