<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="設計與樣式 ngClass">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NG demo 033 - 設計與樣式 ngClass</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
    .container {
        margin-top: 20px;
    }
    
    .red {
        color: red;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .italic {
        font-style: italic;
    }
    </style>
</head>

<body ng-app="sampleApp">
    <div class="container">
        <div class="alert alert-dismissible alert-warning">
            <h4>Introduction</h4>
            <pre>
            	 &lt;div class="well col-xs-12" ng-init="cusClass='red';"&gt;
            	 	&lt;div class="{{ cusClass }}"&gt;Hello angular.js&lt;/div&gt;
            	 &lt;/div&gt;
                </pre>
            <p>當瀏覽器在載入時就會想套用 class，但除了在載入的第一時間是找不到正確的 class 內容之外，同時也無法通過 W3C 的驗證。所以不建議用這樣帶有污染 class 的方式來使用，而建議改用 ng-class 的宣告式語法(Directives Syntax)方式。</p>
        </div>
        <div ng-controller="mainCtrl as m">
            <div class="form-group ">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="useRed"> Red?
                    </label>
                    <label>
                        <input type="checkbox" ng-model="useBold"> Bold?
                    </label>
                    <label>
                        <input type="checkbox" ng-model="useItalic"> Italic?
                    </label>
                </div>
            </div>
            <div class="well col-xs-12" ng-init="cusClass='red';red='red';bold='';italic='italic';">
                <div ng-class="[red, bold, italic]">Ng-class array</div>
                <div ng-class="cusClass">Hello angular.js</div>
                <div ng-class="m.cssObj[m.selected]">use Object Test</div>

                
                <div ng-class="{ red: useRed, bold: useBold, italic: useItalic }">套用 checkbox binding</div>
                <div class="alert alert-dismissible alert-warning">
                    <h4>說明 ［套用 checkbox binding］</h4>
                    <p>使用 (key, value) 的方式，因此透過 selectd 可以從 cssObj 中取得相對的值；每個 key 所對應的值是一個 Model，而接下來將它們綁在勾選框上，所以值就是 true 或 false 的布林值</p>
                </div>
            </div>
        </div>
        <hr>
        <a href="index.html">Return Index</a>
    </div>
</body>
<script type="text/javascript">
angular.module("sampleApp", [])
    .controller('mainCtrl', ['$scope', function($scope) {
        var self = this;
        self.cssObj = {
            useRed: 'red',
            useBold: 'bold',
            useItalic: 'italic'
        };
        self.selected = 'useItalic'
    }]);
</script>

</html>
