<div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">姓名:</label>
    <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="姓名" style="cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off" ng-model="model.friends[0].name">
    </div>
</div>
<div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">懸賞金:</label>
    <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="懸賞金" style="cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" autocomplete="off" ng-model="model.friends[0].reward">
    </div>
</div>


